<p class="intro">
  Ask your coach anything:
  </p>
<div>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Type here!" class="question-box">
  <input type="submit" value="Ask!" class= "btn btn-primary">
</form>
</div>
