/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.title{
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom:10px;
}

.intro{
  margin-left: 40px;
}

.question-box{
  margin-top: 10px;
  margin-left: 40px;
  width: 25vw;
  height: 50px;
}

.question{
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  padding: 10px;
  width: 500px;
  border-left: 10px solid rgb(236, 236, 236)
}

.answer{
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(255, 254, 236);
  padding: 10px;
  width: 500px;
  border-left: 10px solid rgb(236, 236, 236)
}

.link{
  margin-left: 40px;
}

.bold{
  font-weight: bold;
}
